.alerta {
    position: fixed;
    bottom: 100px; 
    right: 20px;
    z-index: 10001; 
    padding: 15px;
    border-radius: 8px;
    display: flex;
    width: 90%;
    max-width: 400px; 
    align-items: center;
    justify-content: end;
    gap: 10px;
    overflow: hidden;
} 

.imagemalerta img {
    width: 60px;
    height: 60px;
    flex-shrink: 0; 
}

.texto {
    background-color: #02bb30;
    padding: 5px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
    flex-grow: 1; 
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto.show {
    transform: translateX(0);
    opacity: 1;
}

.texto.hide {
    transform: translateX(-100%);
    opacity: 0;
}

.texto a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}

@media(max-width: 700px){
    .alerta {
    position: fixed;
    bottom: 110px; 
    right: 20px;
    z-index: 10001; 
    padding: 15px;
    border-radius: 8px;
    display: flex;
    width: 90%;
    max-width: 400px; 
    align-items: center;
    justify-content: start;
    gap: 10px;
    overflow: hidden;
}

.imagemalerta img {
    width: 60px;
    height: 60px;
    flex-shrink: 0; 
}

.texto {
    background-color: #007bff;
    padding: 5px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
    flex-grow: 1; 
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto.show {
    transform: translateX(0);
    opacity: 1;
}

.texto.hide {
    transform: translateX(-100%);
    opacity: 0;
}

.texto a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}
}