.containerHome {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu content noticias "
    "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  background-color: rgb(206, 209, 211);
}

.containerHome div.headerHome {
  grid-area: header;
  text-align: center;
  position: sticky;
  top: 0; /* fixa no topo */
  z-index: 10;
  padding: 0; /* garante que fique acima dos outros */
  background-color: white;
}

.containerHome div.menuHome {
  grid-area: menu;
  position: sticky;
  top: 50px; /* ajusta conforme altura do header */
  align-self: start;
  background-color: white;
}

.containerHome div.contentHome {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
}

.containerHome div.NoticiasHome {
  grid-area: noticias;
  position: sticky;
  top: 50px; 
  align-self: start;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
}

.vagasDaSemana{
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1185ce;
  color: white;
}

.containerHome div.footerHome {
  grid-area: footer;
  display: none;
  background-color: white;
}



/* começando a estilização mobile */

@media(max-width: 700px){
  .containerHome {
    display: grid;
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .containerHome div.NoticiasHome {
    grid-area: noticias;
    display: none;
  }

  .containerHome div.menuHome {
    grid-area: menu;
    display: none;
    background-color: white;
  }

  .containerHome div.footerHome {
    grid-area: footer;
    text-align: center;
    position: sticky;
    bottom: 0; /* fixa no rodapé */
    display: block;
  }
}