*{
    padding: 0;
    margin: 0;
}

.containerHome {
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "Destaque"
    "SlideLoja"
    "content"
    
    "footer"
    ;
  grid-template-columns: 1fr;
  gap: 3px;
}


.containerHome div.headerHome {
  grid-area: header;
  text-align: center;
  padding: 0;
  background-color: white;
}
.containerHome div.menuHome {
    grid-area: menu;
    margin-top: 5%;
    padding: 0;
    margin: 0 auto;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 50px;
    background-color: white;
}

.containerHome div.destaqueHome{
  grid-area: Destaque;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.containerHome div.contentHome {
    grid-area: content;
    display: flex;
    justify-content:center;
    align-items:center;
}

.containerHome .contentSlideLoja{
  grid-area: SlideLoja;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerHome div.footerHome {
    grid-area: footer;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: white;
}

@media (max-width: 700px){
  .containerHome div.menuHome {
    grid-area: menu;
    margin-top: 15%;
    background-color: white;
  }
  .containerHome div.menuHome {
    grid-area: menu;
    margin-top: 10%;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: white;
  } 
}