.footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(50, 50, 54);
    color: white;
    width: 100%;
}

.arealinks{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arealinks div{
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.arealinks ul li{
    list-style: none;
}

.linksdosul ul li a{
    text-decoration: none;
}
.formGroup{
    gap: 10px;
}

.formGroup input{
    margin: 5px;
    padding: 5px;
}

.formGroup button{
    width: 100%;
    padding: 5px;
}

@media (max-width: 768px) {

    .footer{
        height: 30%;
    }
    .arealinks{
        gap: 30px;
        display: flex;
        flex-direction: column;
        height: 90%;
        justify-content: start;
        align-items: start;
    }
}