.Destaque {
  display: grid;
  grid-template-areas:
    "destaque1 destaque2"
    "destaque1 destaque4"
    "destaque1 destaque3";
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  width: 100%;
}

/* Áreas principais */
.Destaque1 { 
  grid-area: destaque1; 
  display: flex;
  text-align: start;
  flex-direction: column;
}
.Destaque2 { 
    grid-area: destaque2; 
    height: 200px; 
}

.Destaque3 { 
    grid-area: destaque3; 
    height: 200px; 
}


.Destaque4 { 
    grid-area: destaque4; 
    height: 200px; 
}

/* Overlay apenas para Destaque1 */
.overlay { 
    height: 100%;
    position: absolute;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

.overlay img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay img:hover{
    opacity: 0.5;
}

.overlay h2 {
    margin: 5px 0;
    background-color: white;
    padding: 10px;
    color: #1185ce;
    font-size: 1.3rem;
}

.overlay p {
    background-color: white;
    padding: 10px;
    height: auto;
}

/* Apenas imagem nos demais destaques */
.imgOnly {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imgOnly:hover{
    opacity: 0.5;
}
/* Responsividade */
@media (max-width: 768px) {

    .Destaque {
      display: grid;
      grid-template-areas:
        "destaque3 ";
      grid-template-columns: 1fr;
      gap: 0px;
      width: 100%;
    }

    /* Áreas principais */
    .Destaque1 { 
      grid-area: destaque1; 
      display: none;
    }

    
    .Destaque3 { 
        grid-area: destaque3;  
    }

    .Destaque2 { 
      grid-area: destaque2; 
      display: none; 
    }

    .Destaque4 { 
        grid-area: destaque4; 
        display: none; 
    }

    
    .overlay { 
      height: 100%;
      position: absolute;
      color: black;
      display: flex;
      flex-direction: column;
    }

    .overlay img {
      width: 100%;
      height: 100%;
    }

    .overlay img:hover{
      opacity: 0.5;
    }

    .overlay h2, .overlay p {
      display: none;
    }


}
